%% -*- erlang -*-
{erl_opts, [debug_info, {d, 'NOTEST'}, {parse_transform, lager_transform}, fail_on_warning]}.
{deps_dir, ["deps"]}.
{cover_enabled, true}.
%% Dependencies ================================================================
{deps, [
  { 'lager',  ".*", { git, "git://github.com/basho/lager.git",   {branch, master} } },
  { 'cowboy', ".*", { git, "git://github.com/extend/cowboy.git", {branch, master} } }
]}.
%% Rebar Plugins ==============================================================
{plugins, []}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
{sub_dirs, ["rel"]}.
