[
    %% IMPORTANT: 10GB of free space is needed for logging

    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
        {error_logger_mf_maxfiles, 50}          % 50 files max
    ]},

    %% Lager config
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [
                {file, "log/error.log"},
                {level, error},
                {size, 10485760}, %% Rotate every 10 MiB
                {date, "$D0"},    %% Rotate minimum of once daily
                {count, 31}       %% 31 Files (one day each under normal conditions)
            ]},
            {lager_file_backend, [
                {file, "log/console.log"},
                {level, info},
                {size, 104857600}, %% Rotate every 100 MiB
                {date, "$D0"},     %% Rotate minimum of once daily
                {count, 31}        %% 31 Files (one day each under normal conditions)
            ]},
            {lager_file_backend, [
                {file, "log/debug.log"},
                {level, debug},
                {size, 209715200}, %% Rotate every 200 MiB
                {date, "$D0"},     %% Rotate minimum of once daily
                {count, 31}        %% 31 Files (one day each under normal conditions)
            ]}
        ]},
        {async_threshold, 20},
        {async_threshold_window, 5},
        {error_logger_hwm, 20}
    ]}
].

