[
    %% Erlang Websocket Tunnel config
    {ewstunnel, [
        {acl, [
            %% Hostname regex or literal or IP or tuple for a range or all,
            %% port name or number or tuple for a range or all,
            %% allow or deny
            %% {"\\.benbria\\.com$", ssh,      allow }, %% Allow SSH to any benbria.com sub-domain
            {"^localhost$",       ssh,      allow }, %% Allow SSH to self
            {all,                 all,      deny  }  %% Deny everything else
        ]}
    ]},
    
    %% IMPORTANT: 33MiB of free space is needed for logging

    %% SASL config
    {sasl, [
        {sasl_error_logger, {file, "log/sasl-error.log"}},
        {errlog_type, error},
        {error_logger_mf_dir, "log/sasl"},      % Log directory
        {error_logger_mf_maxbytes, 1048576},    % 1 MB max file size
        {error_logger_mf_maxfiles, 5}           % 5 files max
    ]},

    %% Lager config
    {lager, [
        {handlers, [
            {lager_console_backend, info},
            {lager_file_backend, [
                {file, "log/error.log"},
                {level, error},
                {size, 1048576},  %% Rotate every 1 MiB
                {date, "$D0"},    %% Rotate minimum of once daily
                {count, 7}        %% 7 Files (one day each under normal conditions)
            ]},
            {lager_file_backend, [
                {file, "log/console.log"},
                {level, info},
                {size, 1048576},   %% Rotate every 1 MiB
                {date, "$D0"},     %% Rotate minimum of once daily
                {count, 7}         %% 7 Files (one day each under normal conditions)
            ]},
            {lager_file_backend, [
                {file, "log/debug.log"},
                {level, debug},
                {size, 2097152}, %% Rotate every 2 MiB
                {date, "$D0"},     %% Rotate minimum of once daily
                {count, 7}         %% 7 Files (one day each under normal conditions)
            ]}
        ]},
        {async_threshold, 20},
        {async_threshold_window, 5},
        {error_logger_hwm, 20}
    ]}
].

